// Tranquil
// ---------------------------------------------------------------------------


$black:        #3F3F3F;
$steel:        #506070;
$smoke:        #BFBFBF;
$white:        #DCDCCC;

$rust:         #705050;
$pepto:        #EC93D3;
$salmon:       #DC8CC3;
$grapefruit:   #DCA3A3;
$peach:        #DFAF8F;
$puke:         #C3BF9F;
$yellow:       #F0DFAF;

$turtle:       #709080;
$whale:        #94BFF3;
$cyan:         #8CD0D3;
$sky:          #93E0E3;
$seafoam:      #60B48A;
