// Tranquil
// ---------------------------------------------------------------------------


$black:        #3F3F3F;
$steel:        #506070;
$smoke:        #BFBFBF;
$white:        #DCDCCC;

$rust:         #705050;
$pepto:        #EC93D3;
$salmon:       #DC8CC3;
$grapefruit:   #DCA3A3;
$peach:        #DFAF8F;
$puke:         #C3BF9F;
$yellow:       #F0DFAF;

$turtle:       #709080;
$whale:        #94BFF3;
$cyan:         #8CD0D3;
$sky:          #93E0E3;
$seafoam:      #60B48A;

$gray-blue: #7D8DA4; // #d3d4d4
$contrast-fg: #64749A;
$contrast-bg: #35405b;
$docker-bg: #1a2937;
$docker-dark-blue: #101c29;
$docker-darkest-blue: #0a121b;
$contrast: #21cbc9;
$green: #1dd09b

// Calamity Purples:
#2a242d
#2f2833
#372f3c
#7e6c88
#8c5685

// Use Docker blues for reg background && Calamity purple for peak?
// Is nice to have 3 background colors...
// USE BRIGHT PINK FOR SIDEBAR LIKE NATURE RAINBOW THEME???
#cf03cf
#c775f0

// Solarized Dark has a very nice set of blue background colors
