body {
  margin: 0;
  width: 100%;
  display: flex;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 48px;
}

h1, h2, h3, h4, p, .block {
  color: #dcdccc;
  font-family: sans-serif;
}

.background {
  flex: 1;
}

.row {
  display: flex;
}

.block {
  padding: 20px;
  margin: 5px;
  height: 100px;
  display: inline-block;
  flex: 1;
}

.black {
  background-color: #272822;
}

.gray300 {
  background-color: #474949;
}

.gray500 {
  background-color: #7b7d7d;
}

.gray600 {
  background-color: #b4b5b5;
}

.gray700 {
  background-color: #c3c4c4;
}

.comment {
  background-color: #7b7d7d;
}

.constant {
  background-color: #FFCA58;
}

.entity {
  background-color: #F0DFAF;
}

.invalid {
  background-color: #FF2C6D;
}

.keyword {
  background-color: #FF75B5;
}

.markup {
  background-color: #e7e8e8;
}

.storage {
  background-color: #FFB86C;
}

.string {
  background-color: #19f9d8;
}

.support {
  background-color: #FFCC95;
}

.variable {
  background-color: #d7d8d8;
}

.primary {
  background-color: #93E0E3;
}

.contrast {
  background-color: #2AA198;
}

.primaryBorder {
  background-color: #506070;
}

.foreground {
  background-color: #e7e8e8;
}

.inverseForeground {
  background-color: #2e3030;
}

.editorBackground {
  background-color: #1a2937;
}

.editorForeground {
  background-color: #e7e8e8;
}

.editorContrastBackground {
  background-color: #1c2e36;
}

.editorContrastForeground {
  background-color: #7b7d7d;
}

.wellBackground {
  background-color: #101c29;
}

.wellForeground {
  background-color: #d7d8d8;
}

.wellContrastHeaderForeground {
  background-color: #7D8DA4;
}

.ultimateBackground {
  background-color: #0a121b;
}

.cursor {
  background-color: #FF4B82;
}

.violetFade {
  background-color: #BCAAFE60;
}

.selection {
  background-color: #93E0E360;
}

.shadow {
  background-color: #b4b5b51a;
}

.transparent {
  background-color: #00000000;
}

.translucent {
  background-color: #373B4199;
}

.error {
  background-color: #FF2C6D;
}

.warning {
  background-color: #FFC300;
}

.info {
  background-color: #93E0E3;
}

.gitAdded {
  background-color: #94D533;
}

.gitRemoved {
  background-color: #FF2C6D;
}

.gitModified {
  background-color: #FFC300;
}

.gitIgnored {
  background-color: #7D8DA4;
}

.gitConflicted {
  background-color: #FF2C6D;
}

.diffGreen {
  background-color: #3ed1bb66;
}

.diffRed {
  background-color: #D3368266;
}

.mergeCurrentHeader {
  background-color: #BCAAFEB3;
}

.mergeCurrentContent {
  background-color: #BCAAFE4D;
}

.mergeIncomingHeader {
  background-color: #67afe5b3;
}

.mergeIncomingContent {
  background-color: #67afe54d;
}

.red {
  background-color: #FF9AC1;
}

.boldRed {
  background-color: #e2366b;
}

.magenta {
  background-color: #FF75B5;
}

.boldMagenta {
  background-color: #FF75B5;
}

.violet {
  background-color: #BCAAFE;
}

.boldViolet {
  background-color: #A569BD;
}

.yellow {
  background-color: #F0DFAF;
}

.boldYellow {
  background-color: #FFCA58;
}

.orange {
  background-color: #FFCC95;
}

.boldOrange {
  background-color: #FFB86C;
}

.blue {
  background-color: #58BED8;
}

.boldBlue {
  background-color: #2980B9;
}

.cyan {
  background-color: #93E0E3;
}

.boldCyan {
  background-color: #3ed1bb;
}

.green {
  background-color: #19f9d8;
}

.boldGreen {
  background-color: #2AA198;
}
